apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s

    scrape_configs:
      - job_name: "prometheus"
        static_configs:
          - targets: ["prometheus:9090"]

      - job_name: "gateway-api"
        metrics_path: /metrics
        static_configs:
          - targets: ["gateway-api:8080"]

      - job_name: "inference-api"
        metrics_path: /metrics
        static_configs:
          - targets: ["inference-api:8000"]
