apiVersion: v1
kind: Service
metadata:
  name: mlflow
spec:
  selector:
    app: mlflow
  ports:
    - name: http
      port: 5000
      targetPort: 5000

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: REPLACE_ME/mlops-mlflow:latest
          ports:
            - containerPort: 5000
          env:
            - name: MLFLOW_EXPERIMENT
              value: construction_cost
            - name: MLFLOW_MODEL_NAME
              value: construction_cost_model
          volumeMounts:
            - name: mlflow-artifacts
              mountPath: /mlflow_artifacts
          command: ["bash", "-lc"]
          args:
            - |
              chmod -R 777 /mlflow_artifacts && \
              mlflow server \
                --host 0.0.0.0 \
                --port 5000 \
                --backend-store-uri postgresql+psycopg2://mlflow:mlflow@postgres/mlflow \
                --default-artifact-root /mlflow_artifacts \
                --serve-artifacts \
                --allowed-hosts '*'
          readinessProbe:
            tcpSocket:
              port: 5000
            initialDelaySeconds: 10
            periodSeconds: 10
      volumes:
        - name: mlflow-artifacts
          persistentVolumeClaim:
            claimName: mlflow-artifacts-pvc
