apiVersion: v1
kind: ConfigMap
metadata:
  name: mlops-env
  namespace: mlops
data:
  # Core URLs (in-cluster)
  MLFLOW_TRACKING_URI: "http://mlflow:5000"
  MLFLOW_PORT: "5000"
  MLFLOW_EXPERIMENT: "construction_cost"
  MLFLOW_MODEL_NAME: "construction_cost_model"
  AIRFLOW_URL: "http://airflow-webserver:8080"
  AIRFLOW_PORT: "8080"
  INFERENCE_API_URL: "http://inference-api:8000"
  INFERENCE_PORT: "8000"
  GATEWAY_API_URL: "http://gateway-api:8080"
  GRAFANA_URL: "http://grafana:3000/grafana"

  # Project paths
  REPO_ROOT: "/opt/project"
  CONFIG_ROOT: "/opt/project/configs"
  DATA_ROOT: "/opt/project/data"
  DATA_DIR: "/opt/project/data"
  CONFIGS_DIR: "/opt/project/configs"
  DOCS_DIR: "/opt/project/docs"

  # Airflow config
  AIRFLOW__CORE__EXECUTOR: "LocalExecutor"
  AIRFLOW__CORE__LOAD_EXAMPLES: "False"
  AIRFLOW__CORE__DAGS_FOLDER: "/opt/project/dags"
  AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.basic_auth,airflow.api.auth.backend.session"

  # Grafana
  GF_SERVER_ROOT_URL: "%(protocol)s://%(domain)s:%(http_port)s/grafana/"
  GF_SERVER_SERVE_FROM_SUB_PATH: "true"
  GF_AUTH_ANONYMOUS_ENABLED: "true"
  GF_AUTH_ANONYMOUS_ORG_ROLE: "Viewer"
  GF_SECURITY_ALLOW_EMBEDDING: "true"
