apiVersion: batch/v1
kind: Job
metadata:
  name: airflow-init
  namespace: mlops
spec:
  template:
    spec:
      containers:
        - name: airflow-init
          image: mlops-construction-cost-prediction-airflow-webserver:latest
          imagePullPolicy: Never
          command: ["/bin/bash", "-c"]
          args:
            - |
              airflow db migrate && \
              airflow users create \
                --username admin \
                --password admin \
                --firstname Admin \
                --lastname User \
                --role Admin \
                --email admin@example.com || true
          envFrom:
            - configMapRef:
                name: mlops-env
            - secretRef:
                name: mlops-secrets
          volumeMounts:
            - name: airflow-home
              mountPath: /opt/airflow
            - name: project
              mountPath: /opt/project
      restartPolicy: OnFailure
      volumes:
        - name: airflow-home
          persistentVolumeClaim:
            claimName: airflow-pvc
        - name: project
          persistentVolumeClaim:
            claimName: project-pvc
  backoffLimit: 3
