apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow
  namespace: mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      containers:
        - name: mlflow
          image: mlops-construction-cost-prediction-mlflow:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 5000
          command:
            - mlflow
            - server
            - --host
            - "0.0.0.0"
            - --port
            - "5000"
            - --backend-store-uri
            - sqlite:///mlflow_server/mlflow.db
            - --artifacts-destination
            - /mlflow_server/artifacts
            - --serve-artifacts
            - --allowed-hosts
            - "*"
          envFrom:
            - configMapRef:
                name: mlops-env
          volumeMounts:
            - name: mlflow-data
              mountPath: /mlflow_server
      volumes:
        - name: mlflow-data
          persistentVolumeClaim:
            claimName: mlflow-pvc
---
apiVersion: v1
kind: Service
metadata:
  name: mlflow
  namespace: mlops
spec:
  selector:
    app: mlflow
  ports:
    - port: 5000
      targetPort: 5000
  type: ClusterIP
