apiVersion: apps/v1
kind: Deployment
metadata:
  name: inference-api
  namespace: mlops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inference-api
  template:
    metadata:
      labels:
        app: inference-api
    spec:
      containers:
        - name: inference-api
          image: mlops-construction-cost-prediction-inference-api:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 8000
          envFrom:
            - configMapRef:
                name: mlops-env
            - secretRef:
                name: mlops-secrets
          env:
            - name: MLFLOW_TRACKING_URI
              value: "http://mlflow:5000"
            - name: CONFIG_ROOT
              value: "/app/configs"
            - name: CONFIGS_DIR
              value: "/app/configs"
---
apiVersion: v1
kind: Service
metadata:
  name: inference-api
  namespace: mlops
spec:
  selector:
    app: inference-api
  ports:
    - port: 8000
      targetPort: 8000
  type: ClusterIP
